<h1>Login</h1>
    <form>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>key</mat-icon>
        </mat-form-field>
    </p>

    <button mat-raised-button color="primary">Primary</button>
</form>

